
<body>

    <section id="Home">
        <nav>
            <div class="logo">
                <img src="../assets/images/logo.png">
            </div>

            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Gallery">Gallery</a></li>
                <li><a href="#Order">Order</a></li>
            </ul>

        </nav>
</section>

<div class="about_text">
    <h1><span>View</span>item</h1>
</div>
<div class="menu_box">
    <div class="menu_card">

        <div class="menu_image">
            <img class="ii" src="{{contact.photo}}">
        </div>

                <div class="menu_info">
                    <h3><u style="visibility: hidden;"> Type : </u> <span class="sss">{{contact.type}}</span></h3>
                   <p class="pp"> <b><u >About</u> :</b></p><p class="ppp"> {{contact.about}}</p> <br>
                   <p><u> <b>Rate:</b></u> &nbsp;{{contact.rate}}</p> 
                   <p><u><b>Origin: </b></u>{{contact.origin}}<p>
                </div>

                
    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
             <img src="../assets/images/main_img.png">
            </div>

            </div> 
        </div>

<!--        
    <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>

        <div class="order_main">

            <div class="order_image">
                <img src="../assets/images/order_image.png">
            </div>

            <form action="#">

                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="you name">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="you email">
                </div>

                <div class="input">
                    <p>Number</p>
                    <input placeholder="you number">
                </div>

                <div class="input">
                    <p>How Much</p>
                    <input type="number" placeholder="how many order">
                </div>

                <div class="input">
                    <p>You Order</p>
                    <input placeholder="food name">
                </div>

                <div class="input">
                    <p>Address</p>
                    <input placeholder="you Address">
                </div>

                <a href="#" class="order_btn">Order Now</a>

            </form>

        </div>

    </div> -->

    